@model List<AcmeCorpShopperUIWebApp.Models.Product>;

@{
	ViewData["Title"] = "All";
}

@foreach (var product in Model)
{
	<p>Product Id: @product.ProductId</p>
	<p>Product Name: @product.ProductName</p>
	<p>Product Price: @product.ProductPrice</p>
	<a asp-controller="AcmeCorpShopper" asp-action="OneProduct" asp-route-id="@product.ProductId">Details</a>
	<hr />
}

<a asp-controller="AcmeCorpShopper" asp-action="Cart" method="post" > Cart </a>

