
@{
	ViewData["Title"] = "Home";
}

<h1>Welcome to the Acme Product Page</h1>

<a asp-controller="AcmeCorpShopper" asp-action="AllProducts">All Products</a>
<a asp-controller="AcmeCorpShopper" asp-action="Cart"> Cart </a>